.lab {
  font: 900 40px "Arial";
  margin-right: 25px;
  margin-left: 120px;
}

.inp {
  background-color: #fff;
  text-align: center;
  height: 25px;
  border-radius: 5px;
}

.form {
  display: flex;
}

.btn {
  height: 30px;
  width: 60px;
  margin-left: 260px;
}

.back {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 50px;
  width: 50px;
  background-color: red;
}
