.back {
  position: absolute;
  max-width: 1190px;
  height: 549px;
  background: #d6d6d6;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
}

.header {
  background: #949494;
  min-width: 1190px;
  height: 104px;
}

.teamName {
  position: absolute;
  left: 15px;
  font: 700 48px "Montserrat";
  background: none;
  top: 25px;
  left: 60px;
}

.btns {
  display: flex;
  justify-content: end;
  column-gap: 40px;
  background: none;
  margin-right: 95px;
  /* margin-top: 25px; */
}

.btn {
  width: 177px;
  height: 47px;
  border-radius: 14px;
  font: 200 24px "Montserrat";
  margin-top: 30px;
}

.all {
  display: flex;
  background: none;
  gap: 100px;
}
.descriptionArea {
  background: none;
  margin-left: 45px;
  margin-top: 20px;
  text-align: center;
  width: 425px;
  height: 371px;
}

.descriptionName {
  background: none;
  font: 400 36px "Montserrat";
  padding-bottom: 5px;
}

.descriptionText {
  width: 425px;
  height: 321px;
  resize: none;
  border-radius: 21px;
  font: 200 20px "Montserrat";
  padding: 15px;
}

.rightArea {
  background: none;
  width: 563px;
  height: 397px;
}

.membersArea {
  background: none;
  /* margin-left: 45px; */
  margin-top: 20px;
  text-align: center;
  width: 555px;
  height: 312px;
  display: flex;
  overflow: auto;
}
.memberInArea {
  max-width: 520px;
  background: none;
}

.membersName {
  background: none;
  font: 400 36px "Montserrat";
  padding-bottom: 15px;
}

.memberPeoples {
  padding-top: 20px;
  background: none;
  display: flex;
  column-gap: 30px;
  row-gap: 25px;
  max-width: 520px;
  max-height: 250px;
  flex-wrap: wrap;
}

.ownerBtn {
  background: none;
  position: absolute;
  left: 10px;
  top: 2px;
  border: none;
}

.ownerImg {
  background: none;
}

.deleteBtn {
  background: none;
  position: absolute;
  right: 5px;
  border: none;
}

.deleteImg {
  background: none;
}
.name {
  background: #fff;
  width: 245px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  text-align: center;
  /* line-height: 1000px; */
  font: 200 17px "Montserrat";

  /* vertical-align: middle; */
  padding-top: 5px;
}

.addArea {
  margin-top: 40px;
  display: flex;
  column-gap: 15px;
  background: none;
}

.addName {
  background: none;
  font: 400 22px "Montserrat";
}

.addInp {
  border-radius: 6px;
  height: 31px;
  width: 229px;
  font: 200 16px "Montserrat";
  border: none;
  padding-left: 5px;
}

.addBtn {
  background: none;
  border: none;
  height: 35px;
  width: 35px;
  /* margin-bottom: 25px; */
}

.addImg {
  height: 35px;
  width: 35px;
  background: none;
  padding: 0;
  /* margin-bottom: 25px; */
}
