.back {
  position: absolute;
  max-width: 1190px;
  height: 549px;
  background: #d6d6d6;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
}

.header {
  background: #949494;
  min-width: 1190px;
  height: 104px;
}

.teamName {
  position: absolute;
  left: 15px;
  font: 700 48px "Montserrat";
  background: none;
  top: 25px;
  left: 60px;
}

.btns {
  display: flex;
  justify-content: end;
  column-gap: 40px;
  background: none;
  margin-right: 95px;
  /* margin-top: 25px; */
}

.btn {
  width: 177px;
  height: 47px;
  border-radius: 14px;
  font: 200 24px "Montserrat";
  margin-top: 30px;
}
