header {
  background: #cecece;
  height: 120px;
  width: 100%;
  /* display: flex; */
  /* justify-content: end; */
  /* align-items: center; */
  column-gap: 170px;
}

.star {
  background: none;
}

.signInBtns {
  background: none;
}

.starLink {
  position: absolute;
  left: 50px;
  background: none;
}

.btns {
  position: absolute;
  right: 30px;
  background: #cecece;
  /* margin-right: 80px; */
  gap: 20px;
  top: 35px;
}

.findH {
  font: 500 20px "Montserrat";
  background: none;
  margin-bottom: 5px;
}

.find {
  width: 362px;
}

.signUp {
  width: 180px;
  height: 47px;
  background: #6bc7d4;
  color: white;
  font: 500 20px "Montserrat";
  border: 2px solid #000;
  border-radius: 26px;
}

.signIn {
  width: 146px;
  height: 47px;
  background: #6bc7d4;
  color: white;
  font: 500 20px "Montserrat";
  border: 2px solid #000;
  border-radius: 26px;
}

.link {
  height: 0px;
  width: 0px;
  background: none;
  margin-right: 20px;
}

.findBarMyTeams {
  position: absolute;
  background: none;
  right: 350px;
  top: 14px;
  text-align: center;
  width: 200px;
}
.findHMyTeams {
  background: none;
  font: 500 20px "Montserrat";
  background: none;
  margin-bottom: 5px;
  text-align: center;
}

.findBar {
  position: absolute;
  background: none;
  left: 240px;
  top: 14px;
  text-align: center;
}

.findImg {
  position: absolute;
  background: none;
  right: 15px;
  top: 5px;
  pointer-events: none;
}

.logout {
  position: absolute;
  right: 40px;
  top: 33px;
  font: 600 14px "Montserrat";
  text-align: center;
  align-content: center;
  /* height: 35px;
  width: 74px; */
  width: 59px;
  height: 59px;
  background-color: #ff5555;
  border-radius: 100%;
}

.profile {
  position: absolute;
  right: 120px;
  top: 40px;
  font: 400 20px "Montserrat";
  height: 45px;
  width: 142px;
  border-radius: 25px;
}

.invitesBtn {
  background: none;
  border: none;
}

.notificationAreaFull {
  background: none;
  position: absolute;
  right: 280px;
  top: 40px;
  border: none;
}

.notificationArea {
  position: absolute;
  right: 10px;
  z-index: 5;
  background: none;
  max-height: 170px;
  overflow: auto;
}

.notificatonsImg {
  width: 45px;
  height: 45px;
  background: none;
}

.notificationMenu {
  background: none;
  list-style: none;
}

.notification {
  position: relative;
  border-radius: 10px;
  width: 320px;
  height: 74px;
  background: #cecece;
  margin-bottom: 5px;
  border: 2px solid black;
  /* padding: 10px; */
}

.notificationH {
  font: 500 18px "Montserrat";
  color: #ab0303;
  background: none;
  text-align: center;
}

.notificationP {
  font: 500 15px "Montserrat";
  background: none;
  text-align: center;
}

.btnsNotification {
  display: flex;
  gap: 50px;
  justify-content: center;
  background: none;
  border: none;
  right: 20px;
  top: 30px;
  margin-top: 5px;
}

.confirmInvite {
  border-radius: 25px;
  height: 25px;
  width: 100px;
  background: #6fff37;
  font: 400 14px "Montserrat";
}

.cancelInvite {
  border-radius: 25px;
  height: 25px;
  width: 100px;
  background: #fb5858;
  font: 400 14px "Montserrat";
}
